<footer class="bg-dark text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <br>2125 Stewart Ave.
                    Courtenay, BC V9N 3J1 ,<br>Phone: (250)338-9531<br>Email: 
                    thomson39@hotmail.com</p>
            </div>
            <div class="col-md-6">
                <h4>Follow Us</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="text-white bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="text-white bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="text-white bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
