<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../img/logo-removebg-preview (1).png" width="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service.html">Services</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
  
  <script>
  $(document).ready(function() {
    // Get the current page URL
    var url = window.location.href;
  
    // Add the active class to the corresponding navbar link
    $('.nav-link').each(function() {
      if (url.indexOf($(this).attr('href')) > -1) {
        $(this).addClass('active');
      }
    });
  });
  </script>
  